
    {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <title>{% block title%}Магазин обуви{% endblock %}</title>
<link rel="icon" href="{% static 'products/Icon.ico' %}" type="image/x-icon">
    <style>
        .discount-row td {
            background-color: #2E8B57 !important;
        }

        .outofstock-row td {
            background-color: #87CEEB !important;
        }

        .price-old {
            text-decoration: line-through;
            color: red;
        }

        .price-new {
            color: black;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid d-flex justify-content-between">
            <div class="d-flex align-items-center gap-2">
                <img src="/static/products/Icon.JPG" width="30" height="24">
                <a class="navbar-brand" href="#">Магазин обуви</a>
            </div>
            <div id="navbarText">
                <span class="navbar-text">
                    {% if user.is_authenticated%}
                    {{user.get_full_name}}
                    |
                    <form action="{% url 'logout' %}" method="post" class="list-inline-item"> {% csrf_token %}<button
                            type="submit" class="btn btn-primary">Выйти</button>
                    </form>
                    {% else %}
                    Гость
                    | <a href="{% url 'login' %}">Войти</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock%}
    </div>

</body>

</html>